extends layout

block content
    h1= title
    #employees
        - each employee in employees
          div.employee
            div.name= employee.name 
            div.title= employee.title
            div.created_at= employee.created_at
        a(href="/employee/new")!= "Add New Employee"